/*--------------------------------------------------------------
04.0 Typography
--------------------------------------------------------------*/

// "Establish Vertical Rythym"
@include establish-baseline(16px); // which establishes a font baseline for the given font-size.
// @include adjust-font-size-to(28px);

h1, h2, h3, h4, h5, h6 {
	// clear: both;
	font-family: $header-font;
	text-align: center;
}
p {
	margin: 1.2em 0;
}
b, strong {
	font-weight: bold;
}
html{
	font-family: $base-font;
	font-size: $base-font-size;
	line-height: $base-line-height;
}

.site-branding-container{
	color: $header-text-color;
}

.site-title-line1,
.site-title-line2 {
	// text-shadow: 1.4px 1.4px 3px ;
	@include text-shadow(1px 1px 0.5px rgba(23, 23, 23, 0.5));

	@include breakpoint(430px) {
		@include text-shadow(1.4px 1.4px 3px rgba(23, 23, 23, 0.5));
	}
	
	a {
		@include link-colors($text-color);
		@include unstyled-link();
	}
}


.site-title-line1 {
	@include adjust-font-size-to(20px, 1);
	
	@include breakpoint(430px) {
		@include adjust-font-size-to(30px, 1);
	}
	@include breakpoint(840px) {
		@include adjust-font-size-to(34px, 1);
	}
	@include breakpoint(900px) {
		@include adjust-font-size-to(40px, 1);
	}
	@include breakpoint(960px) {
		@include adjust-font-size-to(50px, 1);
	}
}
.site-title-line2 {
	@include adjust-font-size-to(22px, 1);
	
	@include breakpoint(430px) {
		@include adjust-font-size-to(36px, 1);
	}
	@include breakpoint(840px) {
		@include adjust-font-size-to(48px, 1);
	}
	@include breakpoint(900px) {
		@include adjust-font-size-to(50px, 1);
	}
	@include breakpoint(960px) {
		@include adjust-font-size-to(60px, 1);
	}
}

.site-description, .site-contact-container {
	@include text-shadow(0px 1px 0px rgba(23, 23, 23, 0.5));
}
.site-description,
.site-header-address,
.site-header-phone,
.site-header-fax {
	// font-style: bold;
	font-variant: small-caps;
	@include adjust-font-size-to(13px, 1.2);

	@include breakpoint(430px) {
		@include adjust-font-size-to(14px, 1);
	}
	@include breakpoint(530px) {
		@include adjust-font-size-to(13px, 1);
	}
	@include breakpoint(660px) {
		@include adjust-font-size-to(14px, 1);
	}
	@include breakpoint(760px) {
		@include adjust-font-size-to(16px, 1);
	}
}
.site-description {
	// Font adjustments for these screen sizes
	@include breakpoint(960px){
		@include adjust-font-size-to(13px, 1.2);
	}
	@include breakpoint(1000px){
		@include adjust-font-size-to(14px, 1.2);
	}
}
.site-header-address,
.site-header-phone,
.site-header-fax {
	@include breakpoint(840px) {
		@include adjust-font-size-to(14px, 1);
	}
	@include breakpoint(935px) {
		@include adjust-font-size-to(16px, 1);
	}
	@include breakpoint(1000px) {
		@include adjust-font-size-to(14px, 1);
	}
}

.site-header-attorney {
	font-variant: small-caps;
	@include adjust-font-size-to(16px, 1.2);

	@include breakpoint(430px) {
		@include adjust-font-size-to(18px, 1);
	}
	@include breakpoint(530px) {
		@include adjust-font-size-to(20px, 1);
	}
	@include breakpoint(840px) {
		@include adjust-font-size-to(22px, 1);
	}
}

.entry-title {
	color: $title-color;
	margin: 5px 0;
	font-size: $entry-title-font-size;
	font-family: $header-font;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	line-height: 1.2;
	text-align: center;
}
.entry-content {
	text-align: justify;

	h2 {
		@extend .entry-title;
		color: $content-h2-color;
		margin: 10px 0 0;
		font-size: 29px;
	}
}
.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}

footer p {
	margin: 0;
}
footer a {
	color: #215D7D;
	text-decoration: none;

	&:hover {
		color: $link-hover-color;
		text-decoration: underline;
	}

	&:visited {
		color: #4F4F4F;
	}
}

.site-footer {
	color: #1A1A1A;
	font-size: 14px;
	text-align: center;
}