/*--------------------------------------------------------------
06.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
 	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
 	padding: 4px 0;
}
input,
select,
textarea {
	color: #113040;
	font-size: 14px;
	font-family: $base-font;
	font-weight: bold;
	font-style: normal;
	text-shadow: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb; 
	@include border-radius(3px);
	background: #e6e6e6;
	@include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05));
	color: rgba(0, 0, 0, .8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: .6em 1em .4em;
	@include text-shadow(0 1px 0 rgba(255, 255, 255, 0.8));

	&:hover {
		border-color: #ccc #bbb #aaa;
		@include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02));
	}

	&:focus, &:active {
		border-color: #aaa #bbb #bbb;
		@include box-shadow(inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15));
	}
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	@include box-sizing(content-box);
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 0;
	width: 100%;
	@include border-radius(3px);
	@include box-shadow(0 0 2px 1px rgba(0, 0, 0, 0.2));

	&:focus {
		color: #111;
	}
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

/***** MailChimp styles *****/
.yks-require-description {
	font-size: 0.75em !important;
	float: right;
}
.yks-mailchimpFormDiv {
	width: 80%;
	margin: 0 auto;
}
.yks-mailchimpFormDivRowField {
	width: 70%;
	margin-top: .5em;
	margin-bottom: .5em;
	float: left;
}
.yks-mc-input-field-row-message {
	clear: both;
	width: 100%;
}
.yks_mc_interest_group_text {
	clear: both;
}
.yks-mailchimpFormDivRow .yks_mc_interest_group_holder {
	display: table;
	width: 100%;
	margin: 0 auto;
	margin-bottom: .5em;

	@include breakpoint(620px) {
		width: 40%;
	}

	label.yks_mc_interest_group_label {
		text-align: left;
		width: 100%;
		margin: 5px 0;
	}
}
.g-recaptcha>div>div{
	display: table;
	margin: 0 auto;
}

input#mc_mv_EMAIL, 
input#mc_mv_FNAME, 
input#mc_mv_LNAME {
	width: 60%;
	margin-top: .5em;
	margin-bottom: .5em;
}
input#mc_mv_MMERGE4 {
	width: 70%;
	margin-top: .5em;
	margin-bottom: .5em;
}
label.yks-mailchimpFormDivRowLabel {
	float: left;
	clear: both;
	margin-top: .5em;
	margin-bottom: .5em;
	width: 30%;
}
div#mc-indicates-required {
	color: red;
	font-size: 12px;
	text-align: right;
	width: 48%;
	margin: 0 auto;
}
.mc_required{
	color: red;
}

div.mc_merge_var {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}
.mc_interests_header {
	margin-top: 1.0em;
	margin-bottom: 0.5em;
	clear: both;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}
#mc_signup_form div.mc_form_inside div.mc_interest {
	width: 30%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
}
div.mergeRow {
	clear: both;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}
label.mc_email_format {
	margin-top: .5em;
	margin-bottom: .5em;
	width: 30%;
	float: left;
}
.mc_email_options ul.mc_list li {
	display: inline-block;
	float: left;
	margin-top: .5em;
	margin-bottom: .5em;
	font-size: 17px;
	padding: 0;
}
.mc_signup_submit {
	clear: both;
}
.yks-mailchimpFormDivSubmit p {
	text-align: center;
}
input.ykfmc-submit,
input.wpgmaps_get_directions,
input.wpgmza_sl_search_button {
	background: #2ea2cc;
	border-color: #0074a2;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	line-height: 26px;
	height: auto;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	white-space: normal;
	width: auto;
	@include box-shadow(inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15));
	@include border-radius(3px);
	@include box-sizing(border-box);
	@include text-shadow(none);

	&:hover, &:focus {
		background: #1e8cbe;
		@include box-shadow(inset 0 1px 0 rgba(120,200,230,.6));
	}

	&:active {
		background: #1b7aa6;
		border-color: #005684;
		color: rgba(255,255,255,.95);
		@include box-shadow(inset 0 1px 0 rgba(0,0,0,.1));
	}
}
input.wpgmza_sl_search_button {
	margin: 0 auto;
	display: block;
}