/*--------------------------------------------------------------
07.1 Header Layout Styles
--------------------------------------------------------------*/
// Define Site Header Size, Color and Border
.masthead {
	border-bottom:2px solid $border-color;
	width: 100%;
	padding: 5px 2%;
	@include linear-gradient(to bottom, $top-gradient-color, $bottom-gradient-color);
}

.masthead-inner {
	max-width: 960px;
	margin: auto;
}

// Define Site Header Container Flexbox to contain .site-branding and .header-image-container
.site-header-container {
	border: 1px solid red;

	// Flexbox container configuration using Bourbon Mixins
	@include display(flex);
	@include align-items(space-around);
	@include justify-content(center);
	@include flex-direction(column);
	
	@include breakpoint(630px) {
		@include flex-direction(row);
	}

}

	.site-branding {
		@include order(1);
		@include flex(1);
		@include align-self(center);
	}
		// Define Site Branding Container Flexbox to contain .logo-container, .site-title-container and site-contact-container
		.site-branding-container {
			border: 1px solid orange;
			
			// Flexbox container configuration using Bourbon Mixins
			@include display(flex);								// Declare Flexbox Display
			@include flex-direction(row);					// Horizontal Main Axis
			@include justify-content(center);			// Alignment along Main Axis
			@include align-items(center);					// Alignment along Cross Axis
			@include flex-wrap(wrap);							// Wrap to new row when items don't fit container width
			
			@include breakpoint(900px) {
				height: image-height($header-image) + 50px;	// Because we need to switch to Column for Flex-Direction, we need to define the height
				@include flex-direction(column);			// Horizontal Main Axis
				@include justify-content(space-around);			// Alignment along Main Axis
				@include align-items(center);		      // Alignment along Cross Axis
				@include flex-wrap(wrap-reverse);			// Wrap to new row when items don't fit container width
			}

		}

			.logo-container {
				border: 1px solid yellow;
				
				// Flexbox item configuration using Bourbon Mixins
				@include order(0);
				margin: auto;
				
				@include breakpoint(900px) {
					// Flexbox item configuration using Bourbon Mixins
					margin: auto;												// This will center the logo in remaining space
					@include order(2);									// Since order is 0 based, this makes the logo-container item 3
					height: image-height($header-image);
				}
			}

				.logo {
					// border: 1px solid red;
					margin: auto;
					// margin-left: auto;
					// margin-right: auto;
					@each $breakpoint-name, $breakpoint-size in $breakpoints {
						$logo: "logos/logo#{$breakpoint-name}.png";
						@include breakpoint($breakpoint-size) {
							background: image-url($logo) no-repeat;
							width: image-width($logo);
							height: image-height($logo); 		
						}
				  }
				}

			.site-title-container {
				border: 1px solid green;
				// background-color: #2EE;
				
				// Flexbox item configuration using Bourbon Mixins
				@include flex(1);
				@include order(1);

				@include breakpoint(900px) {
					width:75%;												
					@include order(0);								// Since order is 0 based, this makes the logo-container item 1
					
				}
				
			}

			.site-contact-container {
				border: 1px solid blue;
				// background-color: #3a3;
				
				// Flexbox item configuration using Bourbon Mixins
				@include order(2);
				
				@include breakpoint(0px 899px) {
					width: 100%;
				}
				@include breakpoint(900px) {
					// Flexbox item configuration using Bourbon Mixins
					@include order(1);								// Since order is 0 based, this makes the logo-container item 2
					width:75%;
				}
			}

				span.site-header-address {
				  &:after { 
						content: " ";
						display: block;
						// @include breakpoint(580px) {
					 //    content: " • ";
						// 	display: inline;
					 //  }
					}
				}

				span.site-header-phone {
					&:after { content: " • ";}
				}

				.site-header-attorney-container {
					// Flexbox container configuration using Bourbon Mixins
					@include display(flex);								// Declare Flexbox Display
					@include flex-direction(row);					// Horizontal Main Axis
					@include justify-content(space-around);			// Alignment along Main Axis
					@include align-items(center);					// Alignment along Cross Axis
					@include flex-wrap(wrap);							// Wrap to new row when items don't fit container width
				}


	.header-image-container {
		border: 1px solid violet;
		// background-color: #4dd;
		
		// width: 100%;
		height: image-height($header-image);
		@include align-self(center);
		@include order(2);
		// @include breakpoint(471px) {
		// 	height: image-height($header-image);
		// }
		// @include breakpoint(531px 580px) {
		// 	@include order(3);
		// 	@include flex(.5);
		// 	@include flex-shrink(1);
		// }
	}





.header-image {
	border: 1px solid chocolate;

	display: block;
	background: image-url($header-image) no-repeat;
	width:  image-width($header-image);
	height: image-height($header-image);
	margin-left: auto;
	margin-right: auto;

	// $header-images: sprite-map("header-images/*.png");
 //  @each $breakpoint-name, $breakpoint-size in $breakpoints {
 //  	$header-image: header-image#{$breakpoint-name};
 //  	@include breakpoint($breakpoint-size) {
 //  		background: sprite($header-images, $header-image) no-repeat;
	// 		@include sprite-dimensions($header-images, $header-image);
	// 		margin-left: auto;
	// 		margin-right: auto;  		
	// 	}
 //  }
}

// .logo {
// 	// width: 82px;
// 	// height: 100px;
// 	display: block;
// 	border: 1px solid red;
// 	
// 	// @extend .breakpoint580-images-logo;
// 	@include breakpoint($breakpoint580) {
// 		border: 1px solid green;
// 		// @extend .desktop-images-logo;
// 		// & {      
//     //@include desktop-images-sprite("logo");
//   //   }
// 	}
// }

// @include breakpoint($breakpoint580) {
//   .logo {
//      // background-image: inline-sprite($desktop-images-sprites)
//      // @include desktop-images-sprites(logo);
//   }
// }

// .site-title-line1,
// .site-title-line2,
// .site-description {
// 	// @include grid-span(2,2)

// }
// .header-image,
// .site-contact-info,
// .site-header-attorney {
// 	// display: block;
// 	// @include grid-span(3,1);
// 	// clear: both;
// }




// .header-image {
// 	// @extend .desktop-images-logo;
//   width: 201px;
// 	height: 183px;
// 	margin-left: auto;
//   margin-right: auto;
//   border: 1px solid green;
// }
// .breakpoint580-images-randalls,
// .desktop-images-randalls { 
// // 	display: block;
// 	width: 201px;
// 	height: 183px;
// 	margin-left: auto;
//   margin-right: auto;
// //   clear: both;
// }