/*--------------------------------------------------------------
07.1 Header Layout Styles
--------------------------------------------------------------*/
// @import "breakpoint580-images/*.png";
// @include all-breakpoint580-images-sprites;

// @import "desktop-images/*.png";
// @include all-desktop-images-sprites;

#masthead {
	border-bottom:2px solid $border-color;
	width: 96%;
	margin: 5px auto;
	@include linear-gradient(to bottom, $top-gradient-color, $bottom-gradient-color);
}

.site-branding {
	border: 1px solid green;
	
	@include display-flex();
	@include align-items(space-around);
	@include justify-content(center);
	flex-wrap: wrap;
}

.logo-container {
	background-color: #1f1;
	
	@include align-self(center);
	@include order(1);
}

.site-title-container {
	background-color: #2EE;
	
	@include flex(1);
	@include order(1);
}

.site-contact-container {
	background-color: #3a3;
	
	width: 100%;
	@include order(3);
	@include breakpoint(531px 580px) {
		@include order(4);
	}
}

.header-image-container {
	background-color: #4dd;
	
	width: 100%;
	@include align-self(center);
	@include order(4);
	@include breakpoint(531px 580px) {
		@include order(3);
		@include flex(.5);
		@include flex-shrink(1);
	}
}

.logo {
	border: 1px solid red;
	margin-left: auto;
	margin-right: auto;
	$logos: sprite-map("logos/*.png");
  @each $breakpoint-name, $breakpoint-size in $breakpoints {
  	$logo: logo#{$breakpoint-name};
  	@include breakpoint($breakpoint-size) {
  		background: sprite($logos, $logo) no-repeat;
			@include sprite-dimensions($logos, $logo);  		
		}
  }
}

.header-image {
	border: 1px solid chocolate;

	// $header-image: "header-images/header-image430.png";
	// display: block;
	// background: image-url("header-image.png") no-repeat;
	// width: 	image-width("header-image.png");
	// height: image-height("header-image.png");
	// margin-left: auto;
	// margin-right: auto;
	$header-images: sprite-map("header-images/*.png");
  @each $breakpoint-name, $breakpoint-size in $breakpoints {
  	$header-image: header-image#{$breakpoint-name};
  	@include breakpoint($breakpoint-size) {
  		background: sprite($header-images, $header-image) no-repeat;
			@include sprite-dimensions($header-images, $header-image);
			margin-left: auto;
			margin-right: auto;  		
		}
  }
}

// .logo {
// 	// width: 82px;
// 	// height: 100px;
// 	display: block;
// 	border: 1px solid red;
// 	
// 	// @extend .breakpoint580-images-logo;
// 	@include breakpoint($breakpoint580) {
// 		border: 1px solid green;
// 		// @extend .desktop-images-logo;
// 		// & {      
//     //@include desktop-images-sprite("logo");
//   //   }
// 	}
// }

// @include breakpoint($breakpoint580) {
//   .logo {
//      // background-image: inline-sprite($desktop-images-sprites)
//      // @include desktop-images-sprites(logo);
//   }
// }

// .site-title-line1,
// .site-title-line2,
// .site-description {
// 	// @include grid-span(2,2)

// }
// .header-image,
// .site-contact-info,
// .site-header-attorney {
// 	// display: block;
// 	// @include grid-span(3,1);
// 	// clear: both;
// }


span.site-header-address {
  &:after { 
		content: " ";
		display: block;
		// @include breakpoint($breakpoint580) {
	 //    content: " • ";
		// 	display: inline;
	 //  }
	}
}

span.site-header-phone {
	&:after { content: " • ";}
}

// .header-image {
// 	// @extend .desktop-images-logo;
//   width: 201px;
// 	height: 183px;
// 	margin-left: auto;
//   margin-right: auto;
//   border: 1px solid green;
// }
// .breakpoint580-images-randalls,
// .desktop-images-randalls { 
// // 	display: block;
// 	width: 201px;
// 	height: 183px;
// 	margin-left: auto;
//   margin-right: auto;
// //   clear: both;
// }