/*--------------------------------------------------------------
08.0 Links
--------------------------------------------------------------*/

.site-header a { 
	text-decoration: none;
}

.entry-content a {
	color: #A25039;

	&:hover{
		color: #2E81AD;
	}
	&:visited{
		color: #A25039;
	}

	&::before{
		content: url('images/postbullets.png');
		margin-right: 6px;
		bottom: 2px;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
		line-height: 0;
	}
}