/*--------------------------------------------------------------
08.0 Links
--------------------------------------------------------------*/

.site-header a { 
	text-decoration: none;
}

.entry-content a,
.post_tags a {
	@include content-link-styles;
}

.entry-content ul {
	li {
		margin: 0 7% 0.5em;

		&::before {
			content: url('images/postbullets.png');
			margin-right: 0;
			bottom: 2px;
			position: relative;
			display: inline-block;
			vertical-align: middle;
			font-size: 0;
			line-height: 0;
			text-indent: -14px;
		}
	}
}

#wpgmaps_directions_edit_1 a {
	display: none;
	text-decoration: none;

	&::before,
	a#marker2::before {
		content: '';
	}
}