/*--------------------------------------------------------------
09.0 Menus
--------------------------------------------------------------*/

.main-navigation {
	@include flexbox((
		display: flex,
		flex-flow: row wrap,
		justify-content: center));

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		li {
			@include menu-button-styles;
			@include flexbox ((
				display: flex,
				justify-content: center
			));
			margin-left: 0;
			width: 100%;

			&:hover{
				@include menu-button-hover-styles;
			}

			&.current-menu-item {
				background: #FEFEF1;
				border: 1px solid #56A7D2;
				border-bottom: none;

				a{
					color: #000000;
				}
			}

			@include breakpoint(670px){
				background: #E0E0E0;
				background: rgba(224, 224, 224, 0.4);
				border: 1px solid rgba(86, 167, 210, 0.4);
				border-bottom: none;
				padding: 0 12px;
				margin: 0 auto;
				position: relative;
				display: block;
				height: 27px;
				cursor: pointer;
				text-decoration: none;
				line-height: 27px;
				text-align: center;
				margin-left: 2px;
				width: auto;
				@include border-radius(8px 8px 0 0);
				@include box-shadow(none);

				&:hover {
					background: #BFDDEE;
					border: 1px solid #25698D;
					border-bottom: none;
					text-decoration: none;
				}
			}


			a {
				color: #303030;
				font-size: 14px;
				@include breakpoint(660px){
					font-size: 10px;
				}
				@include breakpoint(800px){
					font-size: 13px;
				}
				@include breakpoint(980px){
					font-size: 17px;
				}

				&:hover{
					color: #000000;
				}

				img {
					width: 1em;
					height: auto;
				}
			}
		}
	}
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	float: left;
	position: relative;
}
.main-navigation a {
	display: block;
	text-decoration: none;
}
.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	left: auto;
}
.main-navigation ul ul li:hover > ul {
	left: 100%;
}
.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}
/* Small menu */
.menu-toggle {
	cursor: pointer;
	padding: 0.5em;
	width: 100%;
	@include menu-button-styles;
	@include flexbox((
		flex-flow: row wrap,
		align-items: center
	));

	&::before {
		content: '';
		background: url('images/menu-icon.png');
		display: block;
		float: left;
		width: 22px;
		height: 12px;
		margin: 10px;
	}

	@include breakpoint(670px){
		display: none;
	}
}
.main-navigation.toggled .menu-toggle {
	background: #FEFEF1;
	//border: 1px solid #56A7D2;
	border-bottom: none;
}
.main-navigation.toggled .nav-menu {
	display: block;
}
.main-navigation .nav-menu {
	display: none;

	@include breakpoint(670px){
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}