/*--------------------------------------------------------------
13.0 Widgets
--------------------------------------------------------------*/
.widget {
	//margin: 0 0 0.5em;
	margin: 5px;
	@include region-box-styles();
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

.widget-title{
	@include widget-title-styles();
}

/* Tags */
.wp-tag-cloud {
	column-width: 200px;
	margin-top: 1em;

	li {
		text-align: left;
	}
}
