/*--------------------------------------------------------------
15.0 Asides
--------------------------------------------------------------*/

// .blog .format-aside .entry-title,
// .archive .format-aside .entry-title {
// 	display: none;
// }
#secondary aside{
	@include region-box-styles;
}
aside .widget-title{
	@include widget-title-styles();
}
#menu-services a{
	@include menu-button-styles;

	&:hover {
		@include menu-button-hover-styles;
	}

	&::before {
		content: '';
		display: block;
		margin: auto 10px auto 0;
		width: 20px;
		height: 20px;
	}
}
/* This section is for adding icons to the Services menu */
@each $item, $service in $services{
	#menu-services li.menu-item-#{$item} a::before{
		background: url('images/icons/#{$service}-icon.png');
		@include background-size(contain);
	}
}
/**********************************************************/

#menu-services li.current-menu-item a{
	background: #82BEDE;
}

#synved_social_share-2 > div {
	@include flexbox((
		display: flex,
		flex-flow: row wrap,
		justify-content: center,
	));

	@include breakpoint(48em){
		display: initial;
	}
}