/*--------------------------------------------------------------
15.0 Asides
--------------------------------------------------------------*/

// .blog .format-aside .entry-title,
// .archive .format-aside .entry-title {
// 	display: none;
// }
#secondary aside{
	@include region-box-styles;
}
aside .widget-title{
	@include widget-title-styles();
}
#menu-services{
	@include flexbox((
		display: flex,
	    justify-content: center,
	    flex-flow: row wrap));
}
#menu-services li{
	@include menu-button-styles;
	@include justify-content(center);
	margin: 1%;
	height: 85px;
	width: 85px;

	&:hover {
		@include menu-button-hover-styles;
	}

	a {
		display: table;
		text-decoration: none;
		color: #000000;
		font-size: x-small;
		line-height: 1.5;
		text-align: center;
		margin: auto;				// For centering the icons vertically and horizontally

		/*@include breakpoint(768px){
			font-size: 12px;
		}
		@include breakpoint(892px){
			font-size: $base-font-size;
		}*/

		img {
			display: table;
			margin: 3px auto 0;
			width: 50px;
			height: 50px;

		/*	@include breakpoint(48em){
				margin: auto 10px auto 0;
				width: 20px;
				height: 20px;
			}*/
		}
	}

	@include breakpoint(53.750em){
		margin: 3%;
	}
}
/**********************************************************/

#menu-services li.current-menu-item a{
	//background: #82BEDE;
}

#synved_social_share-2 > div {
	@include flexbox((
		display: flex,
		flex-flow: row wrap,
		justify-content: center,
	));

	@include breakpoint(48em){
		display: initial;
	}
}